* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;

}

button, input, label {
    cursor: pointer
}

body {
    background-color: rgba(114, 200, 114, 0.885);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
}

.appleImg {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.hero {
    display: flex;
    background-color: rgb(255, 255, 255);
    min-height: 600px;
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    gap: 60px;
    justify-content: end;
    position: relative;
    padding-top: 60px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: -8%;
    left: -20%;


}

.card {
    width: 300px;
    height: 460px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    background-color: rgb(131, 206, 69);
    align-items: end;
    display: flex;
    left: -10%;
    box-shadow: rgba(46, 46, 51, 0.2) 0px 7px 29px 0px;

}

h1 {
    color: #333;
    font-style: oblique;
    margin-bottom: 5px;

}

.code {
    color: gray;
    font-size: 16px;
}

.redText {
    color: rgb(217, 2, 2);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

.redText span {
    font-size: 56px;

}

.options {
    color: grey;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 20px;

}

.select {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.select img:nth-child(1) {
    border: 1px solid rgb(157, 157, 157);
    padding: 2px;
    border-radius: 2px;

}

ul li {
    margin-bottom: 4px;
    /* list-style:disc; */
    color: rgb(84, 83, 83)
}

svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3%;
    right: 3%;
    fill: rgb(233, 228, 228);

}

svg:hover {
    fill: red;
}

.greenApples img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border: 1px solid rgb(185, 184, 184);
    border-radius: 4px;
}

.greenApples {
    display: flex;
    justify-content: center;
    padding-block: 40px;
    align-items: center;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 32px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

button {
    width: 140px;
    height: 42px;
    margin-top: 16px;
    border: none;
    border-radius: 6px;
    color: white;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: rgb(241, 84, 41);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.3s;
}

button:hover {
    opacity: 0.9;
    scale: calc(1.01)
}